*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: Arial, sans-serif;
  color: #191919;
}

h1 {
  display: flex;
  justify-content: center;
  color: #767676;
}

.signUpAndLogIn {
  background-image: url("https://giffiles.alphacoders.com/524/52425.gif");

  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFields {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 6px;
}

#signUpContainer {
  padding: 36px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  border: 5px transparent grey;
  transition: all 1s;
}

#signUpContainer:hover {
  padding: 48px;
}

input {
  border: 1px solid lightgray;
  border-radius: 6px;
  color: #767676;
}

button {
  border: none;
  color: #767676;
}

#signUpForm {
  margin-top: 12px;
}

form > label {
  color: #767676;
}

.searchResultsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.searchResult {
  display: inline-block;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2.5px transparent rgb(0, 0, 0);
  border-radius: 5px;
  width: 20%;
}

.searchResult button {
  border: 1px solid lightgray;
  border-radius: 6px;
  color: #767676;
}

.searchResult button:hover {
  cursor: pointer;
  color: #78c0b6;
  background-color: white;
  transition: 0.5s;
}

.searchResult:hover {
  border: 2.5px solid rgb(160, 160, 160);
  box-shadow: 0px 15px 20px rgba(73, 73, 73, 0.4);
  transform: translateY(-7px);
  cursor: pointer;
}

#searchForm {
  display: flex;
  flex-direction: column;

  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2.5px transparent rgb(0, 0, 0);
  border-radius: 5px;
  width: 40.75%;
}

.searchButtons {
  margin-right: 10px;
}

.searchButtons:hover {
  cursor: pointer;
  color: #78c0b6;
  background-color: white;
  transition: 0.5s;
}

.usersPage {
  background-image: url("https://giffiles.alphacoders.com/524/52425.gif");

  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.usersPageLinks {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.redirect {
  margin: 10px 165px;
}

.navBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recordingContainer {
  display: flex;
  flex-direction: column;
}

.clip {
  margin: 5px;
  border: 2px solid #d2d2d2;
}

.searchContainer {
  display: flex;
  justify-content: center;
}
